# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
logs/
*.log

# Bases de datos y backups
db/*.db
db/backups/

# Archivos de sincronización y temporales
*.tmp
*.swp
*.bak

# Archivos de Python
*.pyc
__pycache__/

# Configuraciones locales
.env
